<%- include("layout", { 
    title: "Playlists page",
    body: ``
}) %>
    <%- include("sidebar", { 
    title: "Home page", 
    playlists: playlists}) %>

        <% try { %>

            <%if(typeof currentpl !== "undefined"){%>
                <div></div>

                <div class="flex-column p-3" style="width: 100%;">
                    <div class="card mb-3" style="width: 100%;">
                        <img src="/playlistImages/playlist.jpg" class="card-img-top" alt="Image Here" style="width: 20%;">
                        <div class="card-body">
                            <h5 class="card-title">

                                <%= allplaylists.find(p => p.id == currentpl)?.name %>
                            </h5>
                            <!-- <p class="card-text">  </p> -->
                            <a href="#" class="btn btn-primary">Play</a>
                        </div>
                    </div>

                    <div class="list-group mb-3" style="width: 50%">
                        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between" style=" text-decoration: underline;" disabled>
                                    <span> Song Title </span> 
                                    <span> Artist</span>
                                </button>
                        <% for(let i = songs.length-1; i >= 0; i--) { %>



                            <a href="/playlists?playlistId=<%= currentpl %>&playSongId=<%= i %>">
                                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <span><%= songs[i]["title"];%></span> 
                                    <span><%= songs[i]["artist"];%></span>
                                </button>
                            </a>








                            <%}%>
                    </div>



                </div>
                <% } else { %>
                    <div class="d-flex flex-wrap p-3 align-items-start" style="gap: 20px; width: 100%;">
                        <% for(let i = playlists.length-1; i >= 0; i--) { %>
                            <div class="card" style="width: 18rem;">
                                <img src="/playlistImages/playlist.jpg" class="card-img-top" alt="Image Here" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= playlists[i]["name"];%>
                                    </h5>
                                    <p class="card-text"></p>
                                    <a href="/playlists?playlistId=<%= playlists[i].id %>" class="btn btn-primary">View</a>
                                </div>
                            </div>

                            <% } if(playlists.length == 0) {%>
                                <h1>You haven't made any playlists!</h1>
                                <%}%>
                                    <% } %>


                                        <%} catch (error){%>

                                            <%console.log(error)%>
                                                <% }%>



                    </div>

                    </html>